@use "ishihara.scss";
@use "analytics.scss";

.header {
	color: #FFFFFF;
	font: normal normal bold 36px/72px Open Sans;
	letter-spacing: 0px;
	opacity: 0.75;
	text-align: center;
	width: 20em;
}

.root {}

.nav {
	display: flex;
	flex-direction: row;
	text-align: center;
	gap: 1em;
}

.nav-item {
	text-align: center;
	display: block;
	flex-direction: column;
	input {
		width: 125px;
		height: 125px;
		object-fit: cover;
		border-radius: 50%;
	}
}

.main-panel {
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	display: flex;
	align-items: center;
	flex-direction: column;
	width: max-content;
}

body {
	background: url(img/background.png) no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-color: #eee;
}

.title {
	text-align: center;
}

 .description {
	width: 30em;
	text-align: center;
	font: normal normal 300 22px/30px Open Sans;
	letter-spacing: 0px;
	color: #FFFCFC;
	opacity: 1;
	margin-bottom: 3em;
}

.entry {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	margin: 0 auto;
	margin-top: 32px;
	padding: 8px;
	width: 35em;

	input {
		background: #FFFFFF 0% 0% no-repeat padding-box;
		border-radius: 11px;
		border: none;
		box-shadow: -4px 7px 7px -3px rgba(0,0,0,.36) inset;
		color: black;
		font: normal normal normal 16px/22px Open Sans;
		height: 3em;
		opacity: 1.0;
		padding-left: 1em;
		width: 100%;
		focus {
			outline: 0;
			border-color: #550096;
			opacity: 1.0;
		}

		placeholder {
			opacity: .75;
			color: #C7C7C7;
		}
	}

	button {
		background-color: #d35f66;
		background: #F03E3E 0% 0% no-repeat padding-box;
		border-radius: 11px;
		border: none;
		box-shadow: -4px 7px 9px -1px rgba(0,0,0,0.36);
		color: #EDEDED;
		cursor: pointer;
		font: normal normal bold 17px/23px Open Sans;
		letter-spacing: 0px;
		opacity: 0.75;
		padding: 0.5em 1em;
		text-align: left;
	}
}

.readout {
	margin-top: 16px;
}

.footnote {
	font-size: 0.9rem;
	margin-top: 16px;
}

