html,
body {
	height: 100%;
	margin: 0;
}

header {
	text-align: center;
	font: normal normal bold 36px/72px Open Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 0.75;
}

 .description {
	width: 35em;
	text-align: center;
	font: normal normal 300 22px/30px Open Sans;
	letter-spacing: 0px;
	color: #FFFCFC;
	opacity: 1;
	margin-bottom: 3em;
}

body {
	align-items: center;
	display: flex;
	justify-content: center;
	background: url(img/background.png);
	background-size: cover;
}

main {
	width: 45em;
}

.entry,
.readout {
	margin: 0 auto;
	padding: 8px;
}

form {
	width: 35em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.entry input {
	width: 100%;
	height: 3em;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 11px;
	opacity: 0.75;
	padding-left: 1em;
	border: none;
	box-shadow: -4px 7px 7px -3px rgba(0,0,0,.36) inset;
	color: #C7C7C7;
	font: normal normal normal 16px/22px Open Sans;
}

.entry input:focus {
	outline: 0;
	border-color: #550096;
	opacity: 1.0;
}

.entry button {	
	background: #F03E3E 0% 0% no-repeat padding-box;
	border-radius: 11px;
	text-align: left;
	font: normal normal bold 17px/23px Open Sans;
	letter-spacing: 0px;
	background-color: #d35f66;
	opacity: 0.75;
	border: none;
	color: #EDEDED;
	padding: 0.5em 1em;
	cursor: pointer;
	box-shadow: -4px 7px 9px -1px rgba(0,0,0,0.36);
}

.readout {
	margin-top: 16px;
	justify-content: center;
	display: flex;
	align-items: center;
}



.footnote {
	font-size: 0.9rem;
	margin-top: 16px;
	display: flex;
	justify-content: center;
}

