@use '../themes/variables' as *;

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(/background.webp) no-repeat fixed;
    background-size: cover;
    background-color: $body-bg;
    color: $text-main;
    font-family: $font-stack-main;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}