@use '../themes/variables' as *;

.analytics-container {
    width: 100%;
    margin-top: 20px;

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: $table-bg;
        border-radius: 8px;
        overflow: hidden;

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid $border-color;
            color: $black;
        }

        th {
            background-color: $gray-lighter;
            font-weight: bold;
        }

        tr:hover {
            background-color: $table-hover-bg;
        }

        .iso-code {
            text-align: center;
            width: 70px;
        }

        .count {
            text-align: center;
            width: 100px;
        }
    }
}