@use '../themes/variables' as *;

.blindness-selector {
    margin: 0 10px 0 10px;

    input {
        visibility: hidden;
    }

    label {
        background: rgba($gray-medium, 0.17) 0% 0% no-repeat padding-box;
        border-radius: 11px;
        color: rgba(255, 252, 252, 0.75);
        cursor: pointer;
        font: normal normal 16px/22px $font-stack-main;
        height: 3em;
        letter-spacing: 0px;
        padding: 14px 28px;
        text-align: center;
        user-select: none;
    }

    input:checked+label {
        border: 3px solid $white;
        color: $white;
        font: normal normal bold 16px/22px $font-stack-main;
    }
}

.description {
    color: $white;
    text-align: center;
    margin: 0 auto 40px auto;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 600px;

    a {
        color: $syntax-blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    input {
        padding: 12px 16px;
        border-radius: 11px;
        border: none;
        background-color: $white;
        color: $black;
        font-size: 1rem;
        width: 560px;
        box-shadow: $shadow-input;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        &:focus {
            outline: none;
            box-shadow: $shadow-2;
        }
    }

    button {
        padding: 12px 17px;
        border-radius: 11px;
        border: none;
        background-color: $btn-primary-bg;
        opacity: 0.75;
        color: $btn-primary-text;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        box-shadow: $btn-shadow;
        text-transform: none;

        &:hover {
            background-color: $btn-hover-bg;
            box-shadow: $btn-hover-shadow;
            color: $white;
            transform: translateY(-2px);
        }
    }
}

.readout {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    canvas {
        border: 1px solid $white;
        box-shadow: $shadow-3;
    }
}

.footnote {
    margin-top: 40px;
    color: $gray-light;
    font-size: 0.8em;

    a {
        color: #0000EE;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}