@use '../themes/variables' as *;

.mandelbrot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px auto 40px auto;
    max-width: 900px;
    padding: 0 20px;

    .mandelbrot-viewer {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $white;
        padding: clamp(10px, 4vw, 30px);
        border-radius: 16px;
        box-shadow: $shadow-2;
        overflow: auto;

        canvas {
            border-radius: 8px;
            box-shadow: $shadow-input;
            border: 1px solid $gray-light;
            max-width: 100%;
            height: auto;
        }
    }

    .mandelbrot-caption {
        margin-top: 24px;
        font-size: 1.1rem;
        color: $text-main;
        text-align: center;
        max-width: 700px;
        line-height: 1.5;
        font-style: italic;
    }

    .mandelbrot-footer {
        margin-top: 40px;
        font-size: 0.9rem;

        a {
            color: $syntax-blue;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}