@use '../themes/variables' as *;

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.nav-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 50%;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
        }
    }

    h3 {
        margin-top: 10px;
        color: $white;
    }
}