// Colors
$white: #ffffff;
$black: #000000;

// Grays
$gray-lighter: #f2f2f2;
$gray-light: #d4d4d4;
$gray-medium: #888888;
$gray-dark: #333333;
$gray-darker: #222222;
$gray-darkest: #1e1e1e;

// Contextual Colors
$body-bg: #eee;
$body-bg-dark: $gray-darkest;
$text-main: $gray-light;
$border-color: $gray-dark;
$active-color: #264f78;
$header-bg: #252526;
$focus-border: #550096;

// Syntax Highlighting (Chip8)
$syntax-blue: #569cd6;
$syntax-orange: #ce9178;
$syntax-green: #6a9955;
$syntax-teal: #4ec9b0;
$syntax-stop: #f44747;

// UI Elements
$btn-primary-bg: #F03E3E;
$btn-primary-text: $white;
$btn-hover-bg: #bd3232;
$table-bg: $white;
$table-hover-bg: #f5f5f5;

// Typography
$font-stack-main: 'Roboto', 'Open Sans', sans-serif;
$font-stack-mono: 'Consolas', 'Monaco', monospace;